In [4]:
!git clone https://github.com/m-wrzr/populartimes　> /dev/null 2>&1

In [5]:
!pip3 install populartimes-2.0-py3-none-any.whl　> /dev/null 2>&1

In [6]:
import populartimes
gid="*********************************" #Google Maps API key 
#gid="AIzaSyBQv0IZlVassvx8X6_n9ZCUY-nrxWK2w1E" #Google Maps API key 
pid="ChIJw9u_XSsrAmARMIwpeAshKu4" #Place ID Hikone Castle

data=populartimes.get_id(gid, pid)
d1=data['populartimes']

import pandas as pd
df = pd.DataFrame()
col_list=[]
for i in range(len(d1)):
   m = d1[i]
   df[i]=m['data']
   col_list.append(m['name'])

df.columns=col_list
df.to_csv('week.csv')

In [15]:
df[7:18]

    Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday
7        0        0          0         0       0         0       0
8       12       15         13        13      14        21      14
9       21       23         23        21      25        38      28
10      29       30         32        29      35        56      43
11      37       35         37        36      40        69      54
12      42       40         41        42      43        78      58
13      45       43         47        46      48        89      61
14      44       42         49        45      51       100      62
15      36       35         42        37      42        93      52
16      24       24         27        25      26        64      31
17       0        0          0         0       0         0       0